@import url("https://unpkg.com/tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.cursive{
  font-family:"Raleway", cursive;
  font-weight:300;
}

.prose img{
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
}

.home-name{
  font-size:150px;
}
.linking-up{
  font-family:'Indie Flower',cursive;
  color:#6a8bac

}



.lets-link{
  justify-content: space-between;
  column-gap: 20;
  margin:auto;
  padding:10px 0;
  background-color: red;
  text-align: center;
  
 }

 .socials{
  /* justify-content: space-between;
  display: inline-block;
  column-gap: 20px;
  margin:0 auto;
  padding:10px 0; */
  text-align: center;
  /* position: relative; */
  /* display: flex; */

 }

 .socials a{
   margin:auto;
   margin-left: 0.6em;
   margin-right: 0.6em;
   margin-top: 1em;
   margin-bottom: 1em;
   display: inline-block;
 }